* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.container {
  width: 100vw;
  max-width: 1046px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 34px;
  row-gap: 42px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #F2F2F2;
  font-family: "Montserrat", sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: 1.8rem;
  line-height: 22px;
  font-weight: 500;
  color: #828282;
}

a {
  transition: all 0.3s ease-in-out;
  font-size: 1.8rem;
  line-height: 22px;
}
a:hover {
  opacity: 0.4;
}

section {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 2.3rem;
  filter: box-shadow(0px 0px 20px #828282);
  height: fit-content;
}

.title {
  font-size: 2.4rem;
  line-height: 30px;
  text-transform: capitalize;
  color: #4F4F4F;
}

.anchor {
  display: block;
  color: #4f4f4f;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 8px;
  display: flex;
}
.anchor.icon {
  display: flex;
  align-items: center;
  gap: 12px;
}
.anchor.icon .icon {
  width: 20px;
  height: 20px;
  max-width: 20px;
  height: fit-content;
  position: relative;
}
.anchor.icon .icon img {
  position: relative;
  top: 4px;
}

.flex-layout {
  display: flex;
  align-items: center;
  gap: 34px;
}

.personal-overview {
  position: relative;
  grid-column: 1/13;
}
.personal-overview .flex-layout {
  align-items: flex-start;
}
.personal-overview .contact {
  position: absolute;
  top: 0;
  right: 0;
  padding: 22px;
}
.personal-overview .subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 22px;
  display: block;
  color: #828282;
  margin-bottom: 37px;
}
.personal-overview .title {
  font-weight: 600;
}
.personal-overview .image {
  min-width: 270px;
  width: 270px;
  max-width: 270px;
  height: 260px;
  border-radius: 12px;
  overflow: hidden;
}
.personal-overview .text {
  padding-right: 30px;
}
.personal-overview p {
  margin-bottom: 30px;
}

.skills {
  grid-column: 1/6;
}
.skills .title-quad {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.skills ul {
  list-style: none;
}
.skills ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
  font-size: 1.6rem;
  color: #4F4F4F;
  text-transform: capitalize;
  font-weight: 500;
}
.skills ul li .progress-bar {
  width: 236px;
  height: 10px;
  border-radius: 10px;
  background-color: #C4C4C4;
  position: relative;
  overflow: hidden;
}
.skills ul li .progress-bar::before {
  content: "";
  height: 100%;
  position: absolute;
  background-color: #2F80ED;
  border-radius: 10px;
}
.skills ul li:nth-child(1) .progress-bar::before {
  width: 40%;
}
.skills ul li:nth-child(2) .progress-bar::before {
  width: 70%;
}
.skills ul li:nth-child(3) .progress-bar::before {
  width: 80%;
}
.skills ul li:nth-child(4) .progress-bar::before {
  width: 87%;
}
.skills ul li:nth-child(5) .progress-bar::before {
  width: 80%;
}
.skills ul li:nth-child(6) .progress-bar::before {
  width: 60%;
}
.skills ul li:last-child .progress-bar::before {
  width: 50%;
}

.blogs {
  grid-column: 6/13;
  padding-right: 0;
}
.blogs .small-label {
  color: #E0E0E0;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 20px;
}
.blogs .titles {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 30px;
  padding-top: 20px;
  max-width: 50%;
}
.blogs .blog-container .top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.blogs figure {
  min-width: 390px;
  width: 390px;
  height: 320px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow: hidden;
  margin-bottom: 30px;
}
.blogs .desc {
  padding-right: 80px;
}
.blogs .desc p {
  font-size: 1.6rem;
  line-height: 20px;
  margin: 20px 0;
}
.blogs a {
  display: inline-block;
  color: #2F80ED;
  font-size: 1.6rem;
  line-height: 20px;
  margin-top: 50px;
}

.hobbies {
  grid-column: 1/6;
}
.hobbies .titles {
  font-size: 2.4rem;
  line-height: 30px;
}
.hobbies .hobbie {
  margin: 25px 0;
}
.hobbies .hobbie figure {
  height: 140px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 25px;
}
.hobbies .hobbie .small-title {
  margin-bottom: 10px;
}
.hobbies .hobbie p {
  font-size: 1.6rem;
}

/*# sourceMappingURL=App.css.map */
